<a href="https://colab.research.google.com/github/yojulab/learn_data_analytics/blob/main/codes/cases/CDA_multiVariableTest_scipy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### refer url : https://blog.naver.com/data_station/222493268636

In [20]:
import pandas as pd
import seaborn as sns
from scipy import stats

In [21]:
# from learn_datasets in github
pd.read_csv('consumer_purchase_history.csv')

,id,type_of_contract,type_of_contract2,channel,datetime,Term,payment_type,product,amount,state,overdue_count,overdue,credit rating,bank,cancellation,age,Mileage
0,66758234,렌탈,Normal,서비스 방문,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,9.0,새마을금고,정상,43.0,1862.0
1,66755948,렌탈,Extension_Rental,서비스 방문,2019-10-20,60,카드이체,K1,102900,계약확정,0,없음,2.0,현대카드,정상,62.0,2532.0
2,66756657,렌탈,Normal,홈쇼핑/방송,2019-10-20,60,CMS,K1,96900,계약확정,0,없음,8.0,우리은행,정상,60.0,2363.0
3,66423450,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,계약확정,0,없음,5.0,농협은행,정상,60.0,2449.0
4,66423204,멤버십,TAS,렌탈재계약,2019-10-20,12,CMS,K1,66900,해약확정,12,있음,8.0,농협은행,해약,51.0,1942.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51299,66579515,NaN,Promotion,R관리방판,2020-02-03,60,무통장,K3,96900,계약확정,0,없음,NaN,롯데카드,정상,NaN,NaN
51300,66799558,렌탈,Normal,영업방판,2020-02-03,60,카드이체,K1,96900,해약확정,0,없음,8.0,롯데카드,해약,39.0,1753.0
51301,66799197,렌탈,Promotion,홈쇼핑/방송,2020-02-03,39,무통장,K5,120900,해약확정,0,없음,1.0,NaN,해약,51.0,2217.0
51302,66792778,NaN,Normal,렌탈총판,2020-02-03,60,카드이체,K1,96900,계약확정,0,없음,2.0,신한카드,정상,64.0,2588.0
51303,66799607,렌탈,Normal,하이마트,2020-02-03,60,CMS,K1,96900,해약확정,0,없음,8.0,농협은행,해약,53.0,2130.0

In [22]:
df1 = pd.read_csv('Data03.csv')

**One Sample T Test (일표본 평균검정)**

- 귀무가설 : A값은 집단의 평균과 같다.
- 대립가설 : A값은 집단의 평균과 다르다.

In [23]:
df1['amount'].mean()

93994.98002105099

In [24]:
df1['amount'].median()

96900.0

In [25]:
cond1 = (df1['type_of_contract']=='멤버십')
df1_member = df1.loc[cond1]

In [26]:
# 귀무가설 : 96900원은 집단의 평균과 같다.
# 대립가설 : 96900원은 집단의 평균과 다르다.
stats.ttest_1samp(df1_member['amount'], 96900)

TtestResult(statistic=-367.36586622285733, pvalue=0.0, df=4818)

In [27]:
# p.value < 0.05 (귀무가설기각, 대립가설 참)
df1_member['amount'].mean()

63075.94625440963

**Two Sample T Test (이표본 평균검정)**

- 두 집단 평균의 차이가 있는지 검정
- 집단이 서로 등분산성을 보이지 않을 때

- Levene Test : 두 집단 분산의 차이가 있는지 검정
    - 귀무 가설 : 두 집단의 분산이 같다.
    - 대립 가설 : 두 집단의 분산이 다르다.

In [28]:
df1['type_of_contract'].value_counts()

렌탈     46481
멤버십     4819
Name: type_of_contract, dtype: int64

In [29]:
cond1 = (df1['type_of_contract']=='렌탈')

df1_rental = df1.loc[cond1]
df1_member = df1.loc[~cond1].dropna()

In [30]:
# 두 집단의 등분산 검정
# 귀무 가설 : 렌탈 그룹과 멤버십 그룹의 amount 값의 분산의 차이가 없다.
# 대립 가설 : 렌탈 그룹과 멤버십 그룹의 amount 값의 분산의 차이가 있다.
stats.levene(df1_rental['amount'], df1_member['amount'])

LeveneResult(statistic=952.8818778814929, pvalue=3.2088467868188773e-207)

In [31]:
# p.value < 0.05 (귀무가설 기각, 대립가설 참 )
# 렌탈 그룹과 멤버십 그룹의 amount 값의 분산의 차이가 있다.
print(df1_rental['amount'].var())
print(df1_member['amount'].var())

144928790.04453442
14989768.519927813

In [32]:
# 이표본 평균검정
# 귀무가설 : 렌탈그룹과 멤버십 그룹의 amount 평균값의 차이가 없다.
# 귀무가설 : 렌탈그룹과 멤버십 그룹의 amount 평균값의 차이가 있다.
stats.ttest_ind(df1_rental['amount'], df1_member['amount'])

Ttest_indResult(statistic=112.53349600842841, pvalue=0.0)

In [33]:
# P.value < 0.05 (귀무가설기각, 대립가설 참)
# 렌탈그룹과 멤버십 그룹의 amount 평균값의 차이가 있다.
print(df1_rental['amount'].mean())
print(df1_member['amount'].mean())

97200.31561283105
67100.63882063882

**Chi Square Test**

- 두 범주형 집단의 독립성 검정
- 귀무가설 : A 항목과 B항목은 서로 독립적 이다. (연관성이 없다.)
- 대립가설 : A 항목과 B항목은 서로 의존적 이다. (연관성이 있다.)

In [34]:
df1['type_of_contract'].value_counts()

렌탈     46481
멤버십     4819
Name: type_of_contract, dtype: int64

In [35]:
df1['product'].value_counts()

K1    39134
K2     8995
K3     2082
K5      645
K4      327
K6      120
Name: product, dtype: int64

- Contingency Table

In [36]:
df1_crosstable = pd.crosstab(df1['type_of_contract'], df1['product'])
df1_crosstable

product              K1    K2    K3   K4   K5   K6
type_of_contract
렌탈                34427  8892  2076  320  645  120
멤버십                4704   103     5    7    0    0

In [37]:
# 귀무가설 : 계약유형에 따라 제품군의 차이가 없다. (계약유형과 제품군은 서로 독립)
# 대립가설 : 계약유형에 따라 제품군의 차이가 있다. (계약유형과 제품군은 서로 연관)
stats.chi2_contingency(df1_crosstable)

Chi2ContingencyResult(statistic=1340.8053403924034, pvalue=9.218461328024673e-288, dof=5, expected_freq=array([[3.54550553e+04, 8.15001462e+03, 1.88551200e+03, 2.96281799e+02,
        5.84409053e+02, 1.08727266e+02],
       [3.67594474e+03, 8.44985380e+02, 1.95488002e+02, 3.07182011e+01,
        6.05909472e+01, 1.12727344e+01]]))

In [38]:
# P.value < 0.05 (귀무가설기각, 대립가설 참)
# 계약유형에 따라 제품군의 차이가 있다.

- One smaple t Test : 하나의 값과 하나의 집단의 평균 검정
- Two sample t Test : 두 집단 간 평균검정
- Levene Test : 두 집단 간 분산검정
- Chi^2 Test  : 두 항목 간 독립검정